
// Fonts
@import url("https://fonts.googleapis.com/css?family=Raleway:300,400,600");
@import 'MyFontsWebfontsKit';
@import "GTWalsheimWebFontsKit";

// Variables
@import "variables";

// Bootstrap
@import '~bootstrap/scss/bootstrap';


@import url("https://use.fontawesome.com/releases/v5.1.0/css/all.css");

@import url("https://api.mapbox.com/mapbox-gl-js/v0.46.0/mapbox-gl.css' rel='stylesheet");

//custom
@import 'customBootstrap';
@import 'custom';

nav {
  overflow: auto;
  overflow: initial;
}

body {
  overflow:scroll;
  -webkit-overflow-scrolling: touch;
}
