.min-h-50{
  min-height: 50vh !important;
}

.min-h-75{

  min-height: 75vh !important;
}

.min-h-100{
  min-height: 100vh !important;
}


.vh-100{
  min-height: 100vh ;
}

.vh-sm-100{
  @include media-breakpoint-up(sm){
    min-height: 100vh ;

  }
}
.vh-md-100{
  @include media-breakpoint-up(md){
    min-height: 100vh ;

  }
}
.vh-lg-100{
  @include media-breakpoint-up(lg){
    min-height: 100vh ;

  }
}


.vh-75{
  min-height: 75vh ;
}
.vh-sm-75{
  @include media-breakpoint-up(sm){
    min-height: 75vh ;

  }
}
.vh-md-75{
  @include media-breakpoint-up(md){
    min-height: 75vh ;

  }
}
.vh-lg-75{
  @include media-breakpoint-up(lg){
    min-height: 75vh ;

  }
}


.vh-50{

  min-height: 50vh ;
}
.vh-sm-50{
  @include media-breakpoint-up(sm){
    min-height: 50vh ;

  }
}

.vh-md-50{
  @include media-breakpoint-up(md){
    min-height: 50vh ;

  }
}
.vh-lg-50{
  @include media-breakpoint-up(lg){
    min-height: 50vh ;

  }
}


.vh-25{

  min-height: 25vh ;
}

.vh-sm-25{
  @include media-breakpoint-up(sm){
    min-height: 25vh ;

  }
}
.vh-md-25{
  @include media-breakpoint-up(md){
    min-height: 25vh ;

  }
}
.vh-lg-25{
  @include media-breakpoint-up(lg){
    min-height: 25vh;

  }
}


.vw-100{
  width: 100vw ;
}

.vw-sm-100{
  @include media-breakpoint-up(sm){
    width: 100vw ;

  }
}
.vw-md-100{
  @include media-breakpoint-up(md){
    width: 100vw ;

  }
}
.vw-lg-100{
  @include media-breakpoint-up(lg){
    width: 100vw ;

  }
}

.vw-75{
  width: 75vw ;
}
.vw-sm-75{
  @include media-breakpoint-up(sm){
    width: 75vw ;

  }
}
.vw-md-75{
  @include media-breakpoint-up(md){
    width: 75vw ;

  }
}
.vw-lg-75{
  @include media-breakpoint-up(lg){
    width: 75vw ;

  }
}

.vw-50{

  width: 50vw ;
}
.vw-sm-50{
  @include media-breakpoint-up(sm){
    width: 50vw ;

  }
}

.vw-md-50{
  @include media-breakpoint-up(md){
    width: 50vw ;

  }
}
.vw-lg-50{
  @include media-breakpoint-up(lg){
    width: 50vw ;

  }
}

.vw-25{

  width: 25vw ;
}

.vw-sm-25{
  @include media-breakpoint-up(sm){
    width: 25vw ;

  }
}
.vw-md-25{
  @include media-breakpoint-up(md){
    width: 25vw ;

  }
}
.vw-lg-25{
  @include media-breakpoint-up(lg){
    width: 25vh;

  }
}

.container-fluid {
  padding-left: 0;
  padding-right: 0;
}


