@mixin background-image-placer($image) {
  background: url("/images/"+ $image) no-repeat center;
  background-size: contain;
}

body{
  font-family: CentraleSansBook, sans-serif;
}

h1,h2,h3,h4,h5{
  font-family: "GT Walsheim", sans-serif;
}

.eyecatcher-logo {
  width:100%;
}

.eyecatcher-slogan {
  font-size: 1.2rem;
  font-family: CentraleSansBook, sans-serif;
}


.navbar-scrolled {
  background-color:#189ac9;


  @include media-breakpoint-down(sm) {
    .navbar-fixed-top-mobile {
      //background: linear-gradient(#1CB5E0,#000046);
      background-color:#1baed9;
    }
  }

}

.nav-offset{
  padding-top:65px !important;
}




@include media-breakpoint-down(sm){
  .navbar .collapse{
    position:absolute !important;
    z-index: 20;
    width:100%;
    text-align:center;

    top:60px;
    //background-color:#000046;


  }

 .navbar .collapsing {
    display: block;
    position: absolute;
    z-index: 20;
    width: 100%;
    text-align:center;
    top: 60px;
   //background-color:#000046;
  }
  .navbar-collapse
  {
    max-height: none !important;
  }

}

@include media-breakpoint-up(sm) {
  .eyecatcher-slogan  {
    font-size: 1rem;
  }
}

@include media-breakpoint-up(md) {
  .eyecatcher-slogan {
    font-size: 1.4rem;
  }
}

@include media-breakpoint-up(lg) {
  .eyecatcher-slogan {
    font-size: 2rem;
  }
}


.gradient-heading {
  background: linear-gradient(#000046, #1CB5E0);
  position:relative;
}

.gradient-footer{
  //background: linear-gradient( #1CB5E0,#000046);
  background:#545454;
  height:5vh;
  position:relative;
}


.main-wrapper{
  height: 100vh;
  overflow-x: hidden;
  background-color:white;
}

.h-40 {
  height: 40%;
}

.navbar-brand {

  @include background-image-placer("shortlogo.png");
  height:40px;
  width:60px;
}

.gradient-heading .nav-link{
  color: white;
}


.gradient-heading>nav-link:hover{
  color: #cbc7c5
}





.eyecatcher-waves
{
  padding: 0;
  margin: 0;
}

.eyecatcher-waves img
{
  width: 100%;
  margin: 0;
  padding: 0;
 position: absolute;
  bottom: 0;
}


.image-container{
  height:20rem;
}

.intro-book{
  @include background-image-placer("bookpeople.png");
}

.intro-rock{
  direction: rtl;
}

.intro-rock img{
  width:150%;
}

.intro-gear {
  direction: ltr;
}

.intro-gear img {
  width:150%;
  position:absolute;
  top:-20%;
}


.cookie-consent{
  position: fixed;
  bottom: 0px;
  z-index: 666;
}


.who-cloud{
  @include background-image-placer("cloudteamedit.png");
  background-position: left bottom;
  background-size:40%;
}

.who-foto{
  @include background-image-placer("groepsfotoblue.png");
  background-size:cover;
  height:40vh;
  background-position: top;

}
.who-foto h2{
  text-shadow: black ;
}


.solutions-cloud{
  @include background-image-placer("cloudsolution.png");
  background-position: right center;
  background-size:50%;
}


.card {
  background: #fff;
  box-shadow: 0 3px 10px rgba(0,0,0,0.1);
}

.card-text{
  text-align:justify !important;
}


#who .card-text{
  text-align:center !important;
}

.navbar-fixed-top {
  width: 100%;
  z-index: 25;
  position: fixed;
}









/*
#who .card{
  width:25rem;
}*/
