/**
 * @license
 * MyFonts Webfont Build ID 3602685, 2018-06-29T03:59:45-0400
 * 
 * The fonts listed in this notice are subject to the End User License
 * Agreement(s) entered into by the website owner. All other parties are 
 * explicitly restricted from using the Licensed Webfonts(s).
 * 
 * You may obtain a valid license at the URLs below.
 * 
 * Webfont: CentraleSansBook by Typedepot
 * URL: https://www.myfonts.com/fonts/typedepot/centrale-sans/regular/
 * Copyright: Copyright (c) 2016 by typedepot. All rights reserved.
 * Licensed pageviews: 500,000
 * 
 * 
 * License: https://www.myfonts.com/viewlicense?type=web&buildid=3602685
 * 
 * © 2018 MyFonts Inc
*/


/* @import must be at top of file, otherwise CSS will not work */
@import url("//hello.myfonts.net/count/36f8fd");

  
@font-face {font-family: 'CentraleSansBook';src: url('/fonts/webfonts/36F8FD_0_0.eot');src: url('/fonts/webfonts/36F8FD_0_0.eot?#iefix') format('embedded-opentype'),url('/fonts/webfonts/36F8FD_0_0.woff2') format('woff2'),url('/fonts/webfonts/36F8FD_0_0.woff') format('woff'),url('/fonts/webfonts/36F8FD_0_0.ttf') format('truetype');}
 